.container {
  background-color: #282828;
  z-index: 10;
  width: 150px;
  height: 180px;
  position: relative;
  border-radius: 1rem 1rem 0 0;
  padding-top: 90px;
  padding-bottom: 20px;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.head {
  position: absolute;
  width: 100px;
  background-color: #141414;
  aspect-ratio: 1;
  border-radius: 50%;
  left: 50%;
  top: 0;
  translate: -50% -50%;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
}

.name {
  color: rgba(255, 255, 255, 0.65);
  font-family: 'Patrick Hand', cursive;
}

.counter {
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
}

.profile-image {
  position: absolute;
  width: 100px;
  height: 100px;
  display: none;
}

.progress-ring {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
}

.progress-ring__circle {
  fill: transparent;
  stroke: #a6a6a6;
  stroke-width: 10;
}

.ring-background {
  stroke: #000000;
  stroke-width: 10;
}

.progress-ring__low-time {
  animation: lowTimeCircleAnimation 1s infinite;
}

@keyframes lowTimeCircleAnimation {
  0% {
    stroke: #a6a6a6;
  }
  50% {
    stroke: #ff7700;
  }
  100% {
    stroke: #a6a6a6;
  }
}

.time {
  position: absolute;
  left: 50%;
  bottom: -5px;
  translate: -50% 100%;
  color: rgba(255, 255, 255, 0.65);
  font-family: 'Fjalla One', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.2rem;
  display: flex;
  align-items: center;
}

.time__low-time {
  animation: lowTimeSpanAnimation 1s infinite;
}

@keyframes lowTimeSpanAnimation {
  0% {
    color: rgba(255, 255, 255, 0.65);
  }
  50% {
    color: #ff7700;
  }
  100% {
    color: rgba(255, 255, 255, 0.65);
  }
}
