* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.board {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(var(--columnNumber), 1fr);
  aspect-ratio: var(--columnNumber) / var(--rowNumber);
}

.square {
  width: 100%;
  height: 100%;
  position: relative;
}

.square.fill-black::before {
  content: '';
  position: absolute;
  margin: 5%;
  width: 90%;
  height: 90%;
  background-color: cadetblue;
  background-size: 100%;
  border-radius: 50%;
  animation: fill-animation 0.7s ease-in-out;
}

.square.fill-white::before {
  content: '';
  position: absolute;
  margin: 5%;
  width: 90%;
  height: 90%;
  background-color: tomato;
  background-size: 100%;
  border-radius: 50%;
  animation: fill-animation 0.7s ease-in-out;
}

@keyframes fill-animation {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.square::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 60%, #171717 0);
  background-size: 100%;
  z-index: 10;
}

.piece {
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
}
