@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Patrick+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background: #1f1f1f;
}

.board-with-players {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  z-index: 10;
  padding-bottom: 15vh;
}

.footer {
  position: absolute;
  height: 30vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #111111;
  background-image: radial-gradient(
    190.7% 190.7% at 50.01% -143.72%,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.background-gradient {
  position: absolute;
  height: 70vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.background-gradient > .left-gradient {
  flex: 1;
  background: radial-gradient(
    50% 50% at 60% 60%,
    rgba(var(--playerZeroColor), 0.25) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.background-gradient > .right-gradient {
  flex: 1;
  background: radial-gradient(
    50% 50% at 40% 60%,
    rgba(var(--playerOneColor), 0.25) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}
