.piece {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fill-animation 0.7s ease-in-out;
  z-index: 98;
}

@keyframes fill-animation {
  0% {
    transform: translateY(-60vh);
  }
  100% {
    transform: translateY(-0vh);
  }
}
